<!DOCTYPE html>
<html lang="pt-br" ng-app="appUsuario">
<head>
<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Cadastro De Senha </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,300,700" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="img/icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/controllerUsuarios.js"></script>
</head>
<!-- <body ng-controller="listarUsuarios"> -->
<!-- 	<label>Nome</label> -->
<!-- 	<br /> -->
<!-- 	<input type="text" ng-model="usuario.uname" /> -->
<!-- 	<br /> -->
<!-- 	<label>Senha</label> -->
<!-- 	<br /> -->
<!-- 	<input type="password" ng-model="usuario.pass" /> -->
<!-- 	<br /> -->
<!-- 	<input type="button" value="salvar" ng-click="salvarUsuario()" /> -->
<!-- 	<div ng-repeat="user in usuarios"> -->
<!-- 		{{user.idusuario+'|'+user.uname}}</div> -->

<!-- </body> -->


 <body class="newsletter bg-grey" ng-controller="controllerUsuarios">

        <!-- CABEÇALHO -->
        <header class="container3 paracima_acesso">
             <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo" href="index.html">INICIO</a>
                    </div>
                    <div class="navbar-collapse collapse" id="searchbar">

                        <ul class="nav navbar-nav navbar-right">
                            <li id="userPage"><a href="cadastroClientes.html"><i class="icon-user"></i>Cadastro</a></li>
                            <li><a href="acesso.html" data-prevent="">Acesso</a></li>
                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

        </header>

        <section class="container3 paracima_meio1">
            <h1 class="bg-titulo-white">CADASTRO DE LOGIN</h1>
            <form>

                <input class="bg-white radius campo" type="text"  name="user" placeholder="Usuário" required ng-model="usuario.uname"/>
                <input class="bg-white radius campo" type="password"  name="password" placeholder="Senha" required />
                <input class="bg-white radius campo" type="password"  name="confirmpassword" placeholder="Confirmar Senha" required ng-model="usuario.pass"/>
                <input type="button" class="bg-white radius campo" value="salvar" ng-click="salvarUsuario()"/>
            </form>
            <div class="alert centralizar">
                <h3 class="mensagem">{{mensagem}}</h3>
            </div>
        </section>
        <!-- RODAPÉ -->
        <footer class="rodape container3 bg-gradient">
            <div class="social-icons">
                <a href="https://pt-br.facebook.com/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/login?lang=pt"><i class="fa fa-twitter"></i></a>
                <a href="https://accounts.google.com"><i class="fa fa-google"></i></a>
                <a href="https://www.instagram.com/?hl=pt-br"><i class="fa fa-instagram"></i></a>
            </div>
            <p class="copyright">
                Copyright © SISTEX 2016. Todos os direitos reservados - Desenvolvido Por Jean Carlos Penas.
        </footer>
    </body>
</body>


</html>
